@using MFAE.Jobs
@using MFAE.Jobs.Web.Areas.App.Models.Layout
@using MFAE.Jobs.Web.Areas.App.Views.Shared.Components.AppLogo
@model FooterViewModel
@{
    Layout = null;
}
<div class="footer  py-4 d-flex flex-lg-column " id="kt_footer">
    <div class="@(await GetContainerClass()) d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted font-weight-bold mr-2">

                @L("FooterText")
                <span class="text-muted font-weight-bold mr-2">© @AppVersionHelper.ReleaseDate.ToString("yyyy")</span>
            </span>
        </div>
        <div class="nav nav-dark order-1 order-md-2">
            <a href="#" target="_self" class="nav-link pr-3 pl-0">  @L("FooterButton1")</a>
            <a href="#" target="_self" class="nav-link px-3">  @L("FooterButton2")</a>
            <a href="#" target="_self" class="nav-link pl-3 pr-0">  @L("FooterButton3")</a>
        </div>
    </div>
</div>
