@using MFAE.Jobs.Authorization
@using MFAE.Jobs.Web.Areas.App.Models.XRoadMappings
@using MFAE.Jobs.Web.Areas.App.Startup
@model XRoadMappingsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.XRoadMappings;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/XRoadMappings/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("XRoadMappings")' description='@L("XRoadMappingsHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_XRoadMappings_Create))
    {
    <button id="CreateNewXRoadMappingButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewXRoadMapping")</button>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" id="XRoadMappingsTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <button id="GetXRoadMappingsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="LookupFilterId">@L("Lookup")</label>
                        <select class="form-select reload-on-change" name="LookupFilter" id="LookupFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="1">@L("Enum_XRoadLookupEnum_1")</option>

                            <option value="2">@L("Enum_XRoadLookupEnum_2")</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ServiceNameFilterId">@L("ServiceName")</label>
                        <select class="form-select reload-on-change" name="ServiceNameFilter" id="ServiceNameFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="1">@L("Enum_XRoadServicesEnum_1")</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="CodeFilterId">@L("Code")</label>
                        <input type="text" class="form-control reload-on-keyup" name="codeFilter" id="CodeFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="MinSystemIdFilterId">@L("MinMax") @L("SystemId")</label>
                        <div class="input-group">
                            <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MinValue")" name="minSystemIdFilter" id="MinSystemIdFilterId" />
                            <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MaxValue")" name="maxSystemIdFilter" id="MaxSystemIdFilterId" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="XRoadMappingsTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>

                            <th>@L("Actions")</th>
                            <th>@L("Lookup")</th>
                            <th>@L("ServiceName")</th>
                            <th>@L("Code")</th>
                            <th>@L("SystemId")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>