@using System.Threading.Tasks
@using Abp.AspNetZeroCore.Timing
@using Abp.Configuration.Startup
@using Abp.Timing
@using Abp.Web.Security.AntiForgery
@using MFAE.Jobs.Timing
@using MFAE.Jobs.UiCustomization.Dto
@using MFAE.Jobs.Url
@using MFAE.Jobs.Web.Resources
@using CultureHelper = MFAE.Jobs.Localization.CultureHelper
@using Abp.CachedUniqueKeys
@using Abp.AspNetCore.Mvc.Caching
@using Abp.Configuration
@using MFAE.Jobs.Configuration
@inject ScriptPaths ScriptPaths
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject IWebUrlService WebUrlService
@inject ICachedUniqueKeyPerUser CachedUniqueKeyPerUser
@inject IGetScriptsResponsePerUserConfiguration GetScriptsResponsePerUserConfiguration
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
    UiCustomizationSettingsDto theme = await GetTheme();
}
<!DOCTYPE html>
<html lang="en" dir="@(CultureHelper.IsRtl ? "rtl" : "")" data-theme="@(theme.BaseSettings.Layout.DarkMode ? "dark" : "light")">
<head>
    <meta charset="utf-8" />
    <title>@(CultureHelper.IsRtl ? "وزارة الخارجية والمغتربين" : "Ministry of Foreign Affairs and Expatriates")</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    @* Fill these meta tags upon your project specification *@
    <meta content="Jobs" name="description" />
    <meta content="Jobs" name="keywords">
    <meta content="Jobs" name="author" />

    <link rel="shortcut icon" href="~/favicon.ico" />

    <link rel="stylesheet" abp-href="/fonts/fonts-noto.css" asp-append-version="true" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/vendors.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/css/style.bundle@(CultureHelper.IsRtl ? ".rtl" : "").css" asp-append-version="true" />
    <link rel="stylesheet" href="@(ApplicationPath)metronic/themes/default/plugins/global/plugins.bundle.css" asp-append-version="true" />
    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/account-layout-libs.css" asp-append-version="true" />

    <link rel="stylesheet" abp-href="/view-resources/Areas/App/Views/_Bundles/common-styles.css" asp-append-version="true" />

    @if (CultureHelper.IsRtl)
    {
        <link rel="stylesheet" href="/Common/Styles/abp-zero-template-rtl.css" asp-append-version="true" />
    }
    <style>
          .login-aside{
             width: 100%;
             max-width: 40%;
           }

        .font-size-base {
            font-size: 1rem;
        }

        .font-size-sm {
            font-size: 0.925rem;
        }

        .font-size-xs {
            font-size: 0.8rem;
        }

        .font-size-lg {
            font-size: 1.08rem;
        }

        .font-size-h1 {
            font-size: 2rem !important;
        }

        .font-size-h2 {
            font-size: 1.75rem !important;
        }

        .font-size-h3 {
            font-size: 1.5rem !important;
        }

        .font-size-h4 {
            font-size: 1.35rem !important;
        }

        .font-size-h5 {
            font-size: 1.25rem !important;
        }

        .font-size-h6 {
            font-size: 1.175rem !important;
        }

        .font-weight-bolder {
            font-weight: 600 !important;
        }

        span.input-group-text{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 1px solid #eef3f7 !important;
            padding: 1.75rem 1rem !important;
        }

        span.input-group-text i{
                line-height: 0;
                font-size: 1.3rem;
                color: #B5B5C3;
        }

        .font-size-lg {
            font-size: 1.08rem;
        }

        .text-dark-50 {
            color: #7E8299 !important;
        }
        .list-item-jobs-rtl{
            direction:rtl;
            float:right;
            width:400px;
            margin-right:60px
        }

        .list-item-jobs {
            direction: ltr;
            float: right;
            width: 400px;
            margin-left: 50px;
        }
        
    </style>
    <link rel="stylesheet" abp-href="/view-resources/Views/Account/_Layout@(CultureHelper.IsRtl ? "-rtl" : "").css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", false)

    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
            It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body class="header-fixed header-mobile-fixed subheader-fixed subheader-enabled subheader-solid aside-enabled aside-fixed">
    <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed flex-column flex-lg-row flex-column-fluid bg-white">
            <div class="login-aside order-2 order-lg-2 d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
                    <div class="d-flex  justify-content-end align-items-end py-7 py-lg-0 fw-bold fs-6 w-100">
                        <vc:account-languages></vc:account-languages>
                    </div>
               @*  <vc:account-logo skin="light"></vc:account-logo> *@
                 @*   <a href="/">
                      <img alt="Logo" src="@(ApplicationPath)metronic/assets/media/photos/JOBS@(CultureHelper.IsRtl ? "-rtl" : "-ltr").png" />
                    </a> *@ 
                <div class="w-lg-700px bg-body rounded p-10 p-lg-15 mx-auto">
                    @if (!(ViewBag.DisableTenantChange ?? false) && MultiTenancyConfig.IsEnabled && !WebUrlService.SupportsTenancyNameInUrl)
                    {
                        <div class="tenant-change-box mb-5">
                            <vc:tenant-change></vc:tenant-change>
                        </div>
                    }
                    @RenderBody()
                </div>
                <div class="d-flex justify-content-lg-center justify-content-center align-items-center py-7 py-lg-0">
                    <div class="d-flex justify-content-lg-center justify-content-center align-items-center text-dark-50 font-size-lg font-weight-bolder mr-10">
                        <div class="mr-1 word-wrap-login">@L("FooterRights")</div>
                    </div>

                </div>
            </div>
            <div class="justify-content-@(CultureHelper.IsRtl ? "center" : "end") content order-1 order-lg-1 d-flex flex-column w-100 pb-0 bgi-no-repeat relative"
                 style="background-image: url(@(ApplicationPath)metronic/assets/media/photos/login-bg@(CultureHelper.IsRtl ? ".png" : "-ltr.png")); background-size: cover;">
                @* <div class="d-flex flex-column justify-content-end pt-lg-40 pt-md-5 pt-sm-5 pt-5 px-20 mt-20 me-10" style="">
                    <a href="/" class="text-end mt-20 me-20">
                        <img alt="Logo" src="@(ApplicationPath)metronic/assets/media/photos/JOBS@(CultureHelper.IsRtl ? "-rtl" : "-ltr").png" style="width:450px"/>
                    </a>
                </div> *@
@*                 <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center" style="background-image: url(/metronic/assets/media/svg/illustrations/job.svg);background-position-x: left;background-position-y: center;background-size: 800px;"></div>
 *@
                <ul class="fa-ul list-item-jobs@(CultureHelper.IsRtl ? "-rtl" : "")">
                    <li class="text-white"><span class="font-size-h4 font-weight-bolder text-white">@L("JobsPhone")</span></li>
                    </ br>
                    <li class="text-white"><span class="font-size-h5 font-weight-bolder text-white">@L("JobsMail")</span></li>
                </ul>

            </div>
        </div>
    </div>
    <script abp-src="/view-resources/Areas/App/Views/_Bundles/account-layout-libs.js" asp-append-version="true"></script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    @if (GetScriptsResponsePerUserConfiguration.IsEnabled)
    {
        <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(await CachedUniqueKeyPerUser.GetKeyAsync(GetScriptsResponsePerUserCache.CacheName))" type="text/javascript"></script>
    }
    else
    {
        <script src="@(ApplicationPath)AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    }

    <script abp-src="/view-resources/Areas/App/Views/_Bundles/common-scripts.js" asp-append-version="true"></script>
    <script src="~@ScriptPaths.JQuery_Validation_Localization" asp-append-version="true"></script>

    @WebResourceManager.RenderScripts()

    @await RenderSectionAsync("Scripts", false)
    <script>
        app.supportsTenancyNameInUrl = @(WebUrlService.SupportsTenancyNameInUrl.ToString().ToLower());

        jQuery(document).ready(function () {
            if (window.CurrentPage) {
                CurrentPage.init();
            }
        });
    </script>
</body>
</html>
