@model MFAE.Jobs.Web.Models.Account.RegisterViewModel
@{
   var defaultIdType = Model.IdentificationTypeList.FirstOrDefault(u => u.IsDefault.HasValue ? u.IsDefault.Value : false);
}
@using Abp.Json
@using MFAE.Jobs.Localization
@using MFAE.Jobs.Web.Security.Recaptcha
@addTagHelper *, Owl.reCAPTCHA

@section Scripts
{
    <script>
        window.passwordComplexitySetting = @Html.Raw(Model.PasswordComplexitySetting.ToJsonString(indented: true));
    </script>

    @if (ViewBag.UseCaptcha)
    {
        <recaptcha-script-v3/>
        <recaptcha-script-v3-js action="register" execute="false"/>
    }

    <script abp-src="/view-resources/Areas/App/Views/_Bundles/account-register.min.js" asp-append-version="true"></script>
    <script abp-src="/metronic/themes/theme2/js/components/stepper.js" asp-append-version="true"></script>
    <script abp-src="/metronic/themes/theme2/js/components/util.js" asp-append-version="true"></script>
    <script abp-src="/metronic/themes/theme2/js/components/event-handler.js" asp-append-version="true"></script>
}

<div class="login-form">
    <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="fw-bolder text-dark fs-4 fs-1-lg">@L("SignUp")</h3>
    </div>
    <!--begin::Stepper-->
<div class="stepper stepper-pills" id="kt_wizard">
<!--begin::Nav-->
<div class="stepper-nav flex-center flex-wrap mb-10">
    <!--begin::Step 1-->
    <div class="stepper-item mx-8 my-4 current" data-kt-stepper-element="nav">
        <!--begin::Wrapper-->
        <div class="stepper-wrapper d-flex align-items-center">
            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
                <i class="stepper-check fas fa-check"></i>
                <span class="stepper-number">1</span>
            </div>
            <!--end::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
                <h3 class="stepper-title">
                    @L("PersonalInformation")
                </h3>
            </div>
            <!--end::Label-->
        </div>
        <!--end::Wrapper-->

        <!--begin::Line-->
        <div class="stepper-line h-40px"></div>
        <!--end::Line-->
    </div>
    <!--end::Step 1-->

    <!--begin::Step 2-->
    <div class="stepper-item mx-8 my-4" data-kt-stepper-element="nav">
        <!--begin::Wrapper-->
        <div class="stepper-wrapper d-flex align-items-center">
             <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
                <i class="stepper-check fas fa-check"></i>
                <span class="stepper-number">2</span>
            </div>
            <!--begin::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
                <h3 class="stepper-title">
                    @L("AccountInformation")
                </h3>
            </div>
            <!--end::Label-->
        </div>
        <!--end::Wrapper-->

        <!--begin::Line-->
        <div class="stepper-line h-40px"></div>
        <!--end::Line-->
    </div>
    <!--end::Step 2-->

    <!--begin::Step 3-->
    <div class="stepper-item mx-8 my-4" data-kt-stepper-element="nav">
        <!--begin::Wrapper-->
        <div class="stepper-wrapper d-flex align-items-center">
             <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
                <i class="stepper-check fas fa-check"></i>
                <span class="stepper-number">3</span>
            </div>
            <!--begin::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
                <h3 class="stepper-title">
                    @L("AccountVerification")
                </h3>
            </div>
            <!--end::Label-->
        </div>
        <!--end::Wrapper-->

        <!--begin::Line-->
        <div class="stepper-line h-40px"></div>
        <!--end::Line-->
    </div>
    <!--end::Step 3-->
</div>
<!--end::Nav-->

    <!--begin::Form-->
    <form class="form register-form" asp-action="Register" method="post" novalidate="novalidate" id="ApplicationForm" name="ApplicationForm">
        <!--begin::Group-->
        <div class="mb-5">
            <!--begin::Step 1-->
            <div class="flex-column current" data-kt-stepper-element="content">
                @if (@ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <div class="alert-icon">
                            <i class="fa fa-exclamation-triangle"></i>
                        </div>
                        <div class="alert-text">@ViewBag.ErrorMessage</div>
                    </div>
                }

                <input type="hidden" name="IsExternalLogin" value="@Model.IsExternalLogin.ToString()"/>
                <input type="hidden" name="ExternalLoginAuthSchema" value="@Model.ExternalLoginAuthSchema"/>
                <input type="hidden" name="SingleSignOn" value="@Model.SingleSignIn"/>
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl"/>
                @if (ViewBag.UseCaptcha)
                {
                    <input type="hidden" name="@RecaptchaValidator.RecaptchaResponseKey" id="recaptchaResponse"/>
                }

    
                <div class="mb-5">
                    <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6" type="text" placeholder="@L("Name")" name="Name" required value="@Model.Name" maxlength="@MFAE.Jobs.Authorization.Users.User.MaxNameLength"/>
                </div>
                <div class="mb-5 ">
                    <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6" type="text" placeholder="@L("Surname")" name="Surname" required value="@Model.Surname" maxlength="@MFAE.Jobs.Authorization.Users.User.MaxSurnameLength"/>
                </div>
                <div class="mb-5 ">
                    <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6" type="email" placeholder="@L("EmailAddress")" name="EmailAddress" required value="@Model.EmailAddress" maxlength="@MFAE.Jobs.Authorization.Users.User.MaxEmailAddressLength"/>
                </div>

                <div class="mb-5 ">
                     @Html.DropDownList("identificationTypeId", new SelectList(Model.IdentificationTypeList,"Id","DisplayName",
                    (Model.IdentificationTypeList.Count > 0 ? (defaultIdType?.Id.ToString()) : "")),
                            @L("SelectOption"), new { @class = "form-control form-control-solid" })
                </div>
                <div class="mb-5 ">
                     <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6" type="text" placeholder="@L("DocumentNo")" name="DocumentNo" id="DocumentNo" required value="@Model.DocumentNo" maxlength="15"/>
                </div>
         
                @if (!Model.IsExternalLogin)
                {
                    <div class="mb-5">
                        <input class="form-control input-ltr form-control-solid h-auto py-7 px-6 rounded-lg fs-6" type="text" autocomplete="new-password" placeholder="@L("UserName")" name="UserName" value="@Model.UserName" required maxlength="@MFAE.Jobs.Authorization.Users.User.MaxUserNameLength"/>
                    </div>
                    <div class="mb-5 pwstrength-div">
                        <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6" type="password" autocomplete="new-password" id="RegisterPassword" placeholder="@L("Password")" name="Password" required/>
                    </div>
                    <div class="mb-5 ">
                        <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg fs-6" type="password" autocomplete="new-password" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required/>
                    </div>
                }

                
            </div>
            <!--begin::Step 1-->

            <!--begin::Step 1-->
            <div class="flex-column" data-kt-stepper-element="content">
                <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="FirstName">@L("FirstName")</label>
                            <input id="FirstName" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="@L("FirstName")" name="Name" required value="@Model.Name" maxlength="@MFAE.Jobs.Authorization.Users.User.MaxNameLength" />
                        </div>
                        <div class="col-lg-6">
                            <label for="SecondName">@L("SecondName")</label>
                            <input id="SecondName" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="@L("SecondName")" name="SecondName" required value="@Model.SecondName" maxlength="@MFAE.Jobs.Authorization.Users.UserConsts.MaxSecondNameLength" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="ThirdName">@L("ThirdName")</label>
                            <input id="ThirdName" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="@L("ThirdName")" name="ThirdName" required value="@Model.ThirdName" maxlength="@MFAE.Jobs.Authorization.Users.UserConsts.MaxThirdNameLength" />
                        </div>
                        <div class="col-lg-6">
                            <label for="Surname">@L("Surname")</label>
                            <input id="Surname" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="@L("Surname")" name="Surname" required value="@Model.Surname" maxlength="@MFAE.Jobs.Authorization.Users.User.MaxSurnameLength" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="FirstNameEn">@L("FirstNameEn")</label>
                            <input id="FirstNameEn" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="@L("FirstNameEn")" name="FirstNameEn" required value="@Model.FirstNameEn" maxlength="@MFAE.Jobs.Authorization.Users.User.MaxNameLength" />
                        </div>
                        <div class="col-lg-6">
                            <label for="SecondNameEn">@L("SecondNameEn")</label>
                            <input id="SecondNameEn" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="@L("SecondNameEn")" name="SecondNameEn" required value="@Model.SecondNameEn" maxlength="@MFAE.Jobs.Authorization.Users.UserConsts.MaxSecondNameLength" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6">
                            <label for="ThirdNameEn">@L("ThirdNameEn")</label>
                            <input id="ThirdNameEn" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="@L("ThirdNameEn")" name="ThirdNameEn" required value="@Model.ThirdNameEn" maxlength="@MFAE.Jobs.Authorization.Users.UserConsts.MaxThirdNameLength" />
                        </div>
                        <div class="col-lg-6">
                            <label for="FourthNameEn">@L("FourthNameEn")</label>
                            <input id="FourthNameEn" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="text" placeholder="@L("FourthNameEn")" name="FourthNameEn" required value="@Model.FourthNameEn" maxlength="@MFAE.Jobs.Authorization.Users.User.MaxSurnameLength" />
                        </div>
                    </div>
                    
                    <div class="row form-group ">
                        <label>@L("EmailAddress")</label>
                        <input id="EmailAddress" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="email" placeholder="@L("EmailAddress")" name="EmailAddress" required value="@Model.EmailAddress" maxlength="@MFAE.Jobs.Authorization.Users.User.MaxEmailAddressLength" />
                    </div>

                    <div class="form-group ">
                        <label>@L("PhoneNumber")</label>
                        <input id="PhoneNumber" value="@Model.PhoneNumber" class="rtlInput form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" type="tel" name="PhoneNumber" required maxlength="@MFAE.Jobs.Authorization.Users.User.MaxPhoneNumberLength" />
                    </div>
                
            </div>
            
            <div class="flex-column" data-kt-stepper-element="content">
                
            </div>
            <!--begin::Step 1-->

            <!--begin::Step 1-->
            <div class="flex-column" data-kt-stepper-element="content">
                <!--begin::Input group-->
                
            </div>
            <!--begin::Step 1-->
        </div>
        <!--end::Group-->

        <!--begin::Actions-->
        <div class="d-flex flex-stack">
            <!--begin::Wrapper-->
            <div class="me-2">
                <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">
                    @L("Previous")
                </button>
            </div>
            <!--end::Wrapper-->

            <!--begin::Wrapper-->
            <div>
                <button type="submit" id="register-submit-btn" class="btn btn-primary" data-kt-stepper-action="submit">
                    <span class="indicator-label">
                        @L("Submit")
                    </span>
                    <span class="indicator-progress">
                        @L("PleaseWait") <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                </button>

                <button type="button" id="register-back-btn" class="btn btn-light-primary fw-bolder fs-6 px-8 py-4 my-3">@L("Back")</button>
                <button type="button" class="btn btn-primary" data-kt-stepper-action="next">
                    @L("Next")
                </button>                
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Actions-->
    </form>
    <!--end::Form-->
</div>
<!--end::Stepper-->
    <form class="form register-form" asp-action="Register" method="post">

        
    </form>
</div>
