
@using System.Globalization
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.ConversationRates
@model CreateOrEditConversationRateModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditConversationRate")) : L("CreateNewConversationRate")))

<div class="modal-body">
    <div id="ConversationRateInformationsTab">
        <form name="ConversationRateInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.ConversationRate.Id" />
            }

            <div class="my-3">
                <label class="form-label" for="ConversationRate_NameAr">@L("NameAr")</label>
                <input class="form-control form-control-solid" id="ConversationRate_NameAr" value="@Model.ConversationRate.NameAr" type="text" name="nameAr" required maxlength="@MFAE.Jobs.ApplicationForm.ConversationRateConsts.MaxNameArLength" minlength="@MFAE.Jobs.ApplicationForm.ConversationRateConsts.MinNameArLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="ConversationRate_NameEn">@L("NameEn")</label>
                <input class="form-control form-control-solid" id="ConversationRate_NameEn" value="@Model.ConversationRate.NameEn" type="text" name="nameEn" required maxlength="@MFAE.Jobs.ApplicationForm.ConversationRateConsts.MaxNameEnLength" minlength="@MFAE.Jobs.ApplicationForm.ConversationRateConsts.MinNameEnLength" />
            </div>

            <label class="form-check form-check-custom">
                <input id="ConversationRate_IsActive" name="isActive" type="checkbox" class="form-check-input" value="true" @Html.Raw(Model.ConversationRate.IsActive ?"checked=\"checked\"":"") />
                <span class="form-check-label">
                    @L("IsActive")
                </span>
            </label>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")