
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.XRoadServices
@model XRoadServiceViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="XRoadServiceInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Name") :</h6>
                @Model.XRoadService.Name
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ProviderCode") :</h6>
                @Model.XRoadService.ProviderCode
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ResultCodePath") :</h6>
                @Model.XRoadService.ResultCodePath
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ActionName") :</h6>
                @Model.XRoadService.ActionName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("SoapActionName") :</h6>
                @Model.XRoadService.SoapActionName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("VersionNo") :</h6>
                @Model.XRoadService.VersionNo
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ProducerCode") :</h6>
                @Model.XRoadService.ProducerCode
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.XRoadService.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Status") :</h6>
                @L("Enum_XRoadServiceStatusEnum_" + (int)Model.XRoadService.Status)
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Code") :</h6>
                @Model.XRoadService.Code
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")