@using MFAE.Jobs.Authorization
@using MFAE.Jobs.Web.Areas.App.Models.XRoadServices
@using MFAE.Jobs.Web.Areas.App.Startup
@model XRoadServicesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.XRoadServices;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/XRoadServices/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("XRoadServices")' description='@L("XRoadServicesHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_XRoadServices_Create))
    {
    <button id="CreateNewXRoadServiceButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewXRoadService")</button>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" id="XRoadServicesTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <button id="GetXRoadServicesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="NameFilterId">@L("Name")</label>
                        <input type="text" class="form-control reload-on-keyup" name="nameFilter" id="NameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ProviderCodeFilterId">@L("ProviderCode")</label>
                        <input type="text" class="form-control reload-on-keyup" name="providerCodeFilter" id="ProviderCodeFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ResultCodePathFilterId">@L("ResultCodePath")</label>
                        <input type="text" class="form-control reload-on-keyup" name="resultCodePathFilter" id="ResultCodePathFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ActionNameFilterId">@L("ActionName")</label>
                        <input type="text" class="form-control reload-on-keyup" name="actionNameFilter" id="ActionNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="SoapActionNameFilterId">@L("SoapActionName")</label>
                        <input type="text" class="form-control reload-on-keyup" name="soapActionNameFilter" id="SoapActionNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="VersionNoFilterId">@L("VersionNo")</label>
                        <input type="text" class="form-control reload-on-keyup" name="versionNoFilter" id="VersionNoFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ProducerCodeFilterId">@L("ProducerCode")</label>
                        <input type="text" class="form-control reload-on-keyup" name="producerCodeFilter" id="ProducerCodeFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="DescriptionFilterId">@L("Description")</label>
                        <input type="text" class="form-control reload-on-keyup" name="descriptionFilter" id="DescriptionFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="StatusFilterId">@L("Status")</label>
                        <select class="form-select reload-on-change" name="StatusFilter" id="StatusFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="1">@L("Enum_XRoadServiceStatusEnum_1")</option>

                            <option value="2">@L("Enum_XRoadServiceStatusEnum_2")</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="CodeFilterId">@L("Code")</label>
                        <input type="text" class="form-control reload-on-keyup" name="codeFilter" id="CodeFilterId">
                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="XRoadServicesTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>

                            <th>@L("Actions")</th>
                            <th>@L("Name")</th>
                            <th>@L("ProviderCode")</th>
                            <th>@L("ResultCodePath")</th>
                            <th>@L("ActionName")</th>
                            <th>@L("SoapActionName")</th>
                            <th>@L("VersionNo")</th>
                            <th>@L("ProducerCode")</th>
                            <th>@L("Description")</th>
                            <th>@L("Status")</th>
                            <th>@L("Code")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>