
@using System.Globalization
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.Languages
@model CreateOrEditLanguageModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditLanguage")) : L("CreateNewLanguage")))

<div class="modal-body">
    <div id="LanguageInformationsTab">
        <form name="LanguageInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.Language.Id" />
            }

            <div class="my-3">
                <label class="form-label" for="Language_NameAr">@L("NameAr")</label>
                <input class="form-control form-control-solid" id="Language_NameAr" value="@Model.Language.NameAr" type="text" name="nameAr" required maxlength="@MFAE.Jobs.ApplicationForm.LanguageConsts.MaxNameArLength" minlength="@MFAE.Jobs.ApplicationForm.LanguageConsts.MinNameArLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="Language_NameEn">@L("NameEn")</label>
                <input class="form-control form-control-solid" id="Language_NameEn" value="@Model.Language.NameEn" type="text" name="nameEn" required maxlength="@MFAE.Jobs.ApplicationForm.LanguageConsts.MaxNameEnLength" minlength="@MFAE.Jobs.ApplicationForm.LanguageConsts.MinNameEnLength" />
            </div>

            <label class="form-check form-check-custom">
                <input id="Language_IsActive" name="isActive" type="checkbox" class="form-check-input" value="true" @Html.Raw(Model.Language.IsActive ?"checked=\"checked\"":"") />
                <span class="form-check-label">
                    @L("IsActive")
                </span>
            </label>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")