
@using System.Globalization
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.AttachmentEntityTypes
@model CreateOrEditAttachmentEntityTypeModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditAttachmentEntityType")) : L("CreateNewAttachmentEntityType")))

<div class="modal-body">
    <div id="AttachmentEntityTypeInformationsTab">
        <form name="AttachmentEntityTypeInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.AttachmentEntityType.Id" />
            }

            <div class="my-3">
                <label class="form-label" for="AttachmentEntityType_ArName">@L("ArName")</label>
                <input class="form-control" id="AttachmentEntityType_ArName" value="@Model.AttachmentEntityType.ArName" type="text" name="arName" required maxlength="@MFAE.Jobs.Attachments.AttachmentEntityTypeConsts.MaxArNameLength" minlength="@MFAE.Jobs.Attachments.AttachmentEntityTypeConsts.MinArNameLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="AttachmentEntityType_EnName">@L("EnName")</label>
                <input class="form-control" id="AttachmentEntityType_EnName" value="@Model.AttachmentEntityType.EnName" type="text" name="enName" required maxlength="@MFAE.Jobs.Attachments.AttachmentEntityTypeConsts.MaxEnNameLength" minlength="@MFAE.Jobs.Attachments.AttachmentEntityTypeConsts.MinEnNameLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="AttachmentEntityType_Folder">@L("Folder")</label>
                <input class="form-control" id="AttachmentEntityType_Folder" value="@Model.AttachmentEntityType.Folder" type="text" name="folder" required maxlength="@MFAE.Jobs.Attachments.AttachmentEntityTypeConsts.MaxFolderLength" minlength="@MFAE.Jobs.Attachments.AttachmentEntityTypeConsts.MinFolderLength" />
            </div>

            <div class="my-3">
                <label class="form-label" for="AttachmentEntityType_ParentTypeId">@L("ParentTypeId")</label>
                <input class="form-control m-input" id="AttachmentEntityType_ParentTypeId" value="@Model.AttachmentEntityType.ParentTypeId?.ToString(CultureInfo.InvariantCulture)" type="number" name="parentTypeId" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")