@using MFAE.Jobs.Authorization
@using MFAE.Jobs.Web.Areas.App.Models.AttachmentEntityTypes
@using MFAE.Jobs.Web.Areas.App.Startup
@model AttachmentEntityTypesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.AttachmentEntityTypes;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/AttachmentEntityTypes/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("AttachmentEntityTypes")' description='@L("AttachmentEntityTypesHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_AttachmentEntityTypes_Create))
    {
    <button id="CreateNewAttachmentEntityTypeButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewAttachmentEntityType")</button>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" id="AttachmentEntityTypesTableFilter" class="form-control reload-on-change" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <button id="GetAttachmentEntityTypesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ArNameFilterId">@L("ArName")</label>
                        <input type="text" class="form-control reload-on-keyup" name="arNameFilter" id="ArNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="EnNameFilterId">@L("EnName")</label>
                        <input type="text" class="form-control reload-on-keyup" name="enNameFilter" id="EnNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="FolderFilterId">@L("Folder")</label>
                        <input type="text" class="form-control reload-on-keyup" name="folderFilter" id="FolderFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="MinParentTypeIdFilterId">@L("MinMax") @L("ParentTypeId")</label>
                        <div class="input-group">
                            <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MinValue")" name="minParentTypeIdFilter" id="MinParentTypeIdFilterId" />
                            <input type="number" class="form-control m-input reload-on-keyup" placeholder="@L(" MaxValue")" name="maxParentTypeIdFilter" id="MaxParentTypeIdFilterId" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="AttachmentEntityTypesTable" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                    <thead>
                        <tr>
                            <th></th>

                            <th>@L("Actions")</th>
                            <th>@L("ArName")</th>
                            <th>@L("EnName")</th>
                            <th>@L("Folder")</th>
                            <th>@L("ParentTypeId")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>