
@using System.Globalization
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.ApplicantLanguages
@model CreateOrEditApplicantLanguageModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditApplicantLanguage")) : L("CreateNewApplicantLanguage")))
<script type="text/javascript">
    var languageList = @Html.Raw(Json.Serialize(Model.ApplicantLanguageLanguageList));
    var ApplicantLanguageConversationRateList = @Html.Raw(Json.Serialize(Model.ApplicantLanguageConversationRateList));
    var ApplicantLanguageConversationList =  @Html.Raw(Json.Serialize(Model.ApplicantLanguageConversationList));
</script>
<div class="modal-body">
    <div id="ApplicantLanguageInformationsTab">
        <form name="ApplicantLanguageInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.ApplicantLanguage.Id" />
            }
            <input type="hidden" name="ApplicantId" value="@Model.ApplicantLanguage.ApplicantId" />
            <div class="card-body">
                <div class="form">
                    <div id="LanguageApplicantTab">
                        <div class="form-group">
                            <div class=" align-items-center">
                                <table id="LanguageRate" class="display table table-hover table-head-custom dataTable no-footer dtr-inline dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>
                                                @L("Language")
                                            </th>

                                            @foreach (var info in Model.ApplicantLanguageConversationList)
                                            {
                                                <th>
                                                    @info.DisplayName
                                                </th>
                                            }
                                        </tr>
                                    </thead>                                   
                                        <tr>
                                            <td>
                                            @Html.DropDownList("LanguageID", new SelectList(Model.ApplicantLanguageLanguageList, "Id", "DisplayName"), @L("SelectLanguage"), new { @id = "LanguageID" , @class = "form-control form-control-solid", @required = "required" })

                                            </td>
                                        @foreach (var ImpactInfo in Model.ApplicantLanguageConversationList)
                                            {
                                                <td> 
                                                     @Html.DropDownList("ApplicantLanguageConversationRateList"+@ImpactInfo.Id, new SelectList(Model.ApplicantLanguageConversationRateList, "Id", "DisplayName"), @L("SelectRange"), new { @id = "ConversationRateList" + @ImpactInfo.Id , @class = "form-control form-control-solid", @required = "required" })
                                                </td>
                                            }
                                        
                                        </tr>                                  
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
