@using MFAE.Jobs.Authorization
@using MFAE.Jobs.Web.Areas.App.Models.ApplicantLanguages
@using MFAE.Jobs.Web.Areas.App.Startup
@model ApplicantLanguagesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.ApplicantLanguages;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/ApplicantLanguages/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("ApplicantLanguages")' description='@L("ApplicantLanguagesHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_ApplicantLanguages_Create))
    {
    <button id="CreateNewApplicantLanguageButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewApplicantLanguage")</button>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" id="ApplicantLanguagesTableFilter" class="form-control reload-on-change form-control-solid" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <button id="GetApplicantLanguagesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="NarrativeFilterId">@L("Narrative")</label>
                        <input type="text" class="form-control reload-on-keyup form-control-solid" name="narrativeFilter" id="NarrativeFilterId">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ApplicantFirstNameFilterId">(@L("Applicant")) @L("FirstName")</label>
                        <input type="text" class="form-control form-control-solid" name="applicantFirstNameFilter" id="ApplicantFirstNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="LanguageNameFilterId">(@L("Language")) @L("Name")</label>
                        <input type="text" class="form-control form-control-solid" name="languageNameFilter" id="LanguageNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ConversationNameFilterId">(@L("Conversation")) @L("Name")</label>
                        <input type="text" class="form-control form-control-solid" name="conversationNameFilter" id="ConversationNameFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="ConversationRateNameFilterId">(@L("ConversationRate")) @L("Name")</label>
                        <input type="text" class="form-control form-control-solid" name="conversationRateNameFilter" id="ConversationRateNameFilterId">
                    </div>
                </div>
                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="ApplicantLanguagesTable" class="display table table-striped table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@L("Actions")</th>
                            <th>@L("Narrative")</th>
                            <th>@L("ApplicantFirstName")</th>
                            <th>@L("LanguageName")</th>
                            <th>@L("ConversationName")</th>
                            <th>@L("ConversationRateName")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>