
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.Conversations
@model ConversationViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="ConversationInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("NameAr") :</h6>
                @Model.Conversation.NameAr
            </div>
            <div class="col-6 mb-3">
                <h6>@L("NameEn") :</h6>
                @Model.Conversation.NameEn
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.Conversation.IsActive
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")