
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.AttachmentFiles
@model AttachmentFileViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="AttachmentFileInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("PhysicalName") :</h6>
                @Model.AttachmentFile.PhysicalName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.AttachmentFile.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("OriginalName") :</h6>
                @Model.AttachmentFile.OriginalName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Size") :</h6>
                @Model.AttachmentFile.Size
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ObjectId") :</h6>
                @Model.AttachmentFile.ObjectId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Path") :</h6>
                @Model.AttachmentFile.Path
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Version") :</h6>
                @Model.AttachmentFile.Version
            </div>
            <div class="col-6 mb-3">
                <h6>@L("FileToken") :</h6>
                @Model.AttachmentFile.FileToken
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Tag") :</h6>
                @Model.AttachmentFile.Tag
            </div>
            <div class="col-6 mb-3">
                <h6>@L("FilterKey") :</h6>
                @Model.AttachmentFile.FilterKey
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("AttachmentType")) @L("ArName") :</h6>
                @Model.AttachmentTypeArName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")