
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.JobAdvertisements
@model JobAdvertisementViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="JobAdvertisementInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("Description") :</h6>
                @Model.JobAdvertisement.Description
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AdvertisementId") :</h6>
                @Model.JobAdvertisement.AdvertisementId
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AdvertisementDate") :</h6>
                @Model.JobAdvertisement.AdvertisementDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("FromDate") :</h6>
                @Model.JobAdvertisement.FromDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("ToDate") :</h6>
                @Model.JobAdvertisement.ToDate
            </div>
            <div class="col-6 mb-3">
                <h6>@L("AllowedAge") :</h6>
                @Model.JobAdvertisement.AllowedAge
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsActive") :</h6>
                @Model.JobAdvertisement.IsActive
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")