
@using System.Globalization
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.XRoadServiceErrors
@model CreateOrEditXRoadServiceErrorModalViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditXRoadServiceError")) : L("CreateNewXRoadServiceError")))

<div class="modal-body">
    <div id="XRoadServiceErrorInformationsTab">
        <form name="XRoadServiceErrorInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
                <input type="hidden" name="id" value="@Model.XRoadServiceError.Id" />
            }

            <div class="row">
                <div class="form-group m-form__group col-md-6">
                    <label for="XRoadServiceName">@L("XRoadService")</label>
                    <span class="text-danger">*</span>
                    <div class="input-group">
                        <input class="form-control" id="XRoadServiceName" name="xRoadServiceName" value="@Model.XRoadServiceName" type="text" disabled>
                        @*<div class="input-group-append">
                            <button class="btn btn-primary blue" id="OpenXRoadServiceLookupTableButton" type="button"><i class="fa fa-search"></i> @L("Pick")</button>
                        </div>
                        <div class="input-group-prepend">
                            <button class="btn btn-danger btn-icon" type="button" id="ClearXRoadServiceNameButton"><i class="fa fa-times"></i></button>
                        </div>*@
                    </div>
                </div>

                <input class="form-control" id="XRoadServiceError_XRoadServiceId" value="@Model.XRoadServiceError.XRoadServiceId" type="text" name="xRoadServiceId" required hidden />

                <div class="form-group col-md-6">
                    <label for="XRoadServiceError_ErrorCode">@L("ErrorCode")</label>
                    <span class="text-danger">*</span>
                    <input class="form-control" id="XRoadServiceError_ErrorCode" value="@Model.XRoadServiceError.ErrorCode" type="text" name="errorCode" required />
                </div>

                <div class="form-group col-md-6">
                    <label for="XRoadServiceError_ErrorMessageAr">@L("ErrorMessageAr")</label>
                    <span class="text-danger">*</span>
                    <input class="form-control" id="XRoadServiceError_ErrorMessageAr" value="@Model.XRoadServiceError.ErrorMessageAr" type="text" name="errorMessageAr" required />
                </div>

                <div class="form-group col-md-6">
                    <label for="XRoadServiceError_ErrorMessageEn">@L("ErrorMessageEn")</label>
                    <span class="text-danger">*</span>
                    <input class="form-control" id="XRoadServiceError_ErrorMessageEn" value="@Model.XRoadServiceError.ErrorMessageEn" type="text" name="errorMessageEn" required />
                </div>

            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
