@using MFAE.Jobs.Authorization
@using MFAE.Jobs.Web.Areas.App.Models.XRoadServiceAttributeMappings
@using MFAE.Jobs.Web.Areas.App.Startup
@model XRoadServiceAttributeMappingsViewModel

<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label"><i class="flaticon2-cube-1 icon-lg mr-3 text-primary"></i>@L("ResponseAttributesMapping") - @Model.AttributeName</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-xl-12">
                @if (IsGranted(AppPermissions.Pages_XRoadServiceAttributeMappings_Create))
                {
                    <button id="CreateNewXRoadServiceAttributeMappingButtonResponse" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewXRoadServiceAttributeMapping")</button>
                }
            </div>
        </div>
        <input type="hidden" id="AttributesMapping_AttributeIdResponse" value="@Model.XRoadServiceAttributeId" />

        @*<div class="form">
            <div class="row align-items-center mb-4">
                <div class="col-xl-12">
                    <div class="form-group align-items-center">
                        <div class="input-group">
                            <input type="text" id="XRoadServiceAttributeMappingsTableFilter" class="form-control m-input form-control-solid" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                            <span class="input-group-btn">
                                <button id="GetXRoadServiceAttributeMappingsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
            <div class="col-md-12">
                <div class="kt-separator kt-separator--border-dashed"></div>
            </div>

            <div class="col-md-3">
                <label for="ServiceAttributeTypeFilterId">@L("ServiceAttributeType")</label>
                <select class="form-control form-control-solid" name="ServiceAttributeTypeFilter" id="ServiceAttributeTypeFilterId">
                    <option value="-1">@L("All")</option>
                    <option value="1">@L("Enum_XRoadAttributeTypeEnum_1")</option>

                    <option value="2">@L("Enum_XRoadAttributeTypeEnum_2")</option>

                    <option value="3">@L("Enum_XRoadAttributeTypeEnum_3")</option>


                </select>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="SourceValueFilterId">@L("SourceValue")</label>
                    <input type="text" class="form-control form-control-solid" name="sourceValueFilter" id="SourceValueFilterId">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="DestinationValueFilterId">@L("DestinationValue")</label>
                    <input type="text" class="form-control form-control-solid" name="destinationValueFilter" id="DestinationValueFilterId">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="XRoadServiceAttributeNameFilterId">(@L("XRoadServiceAttribute")) @L("Name")</label>
                    <input type="text" class="form-control form-control-solid" name="xRoadServiceAttributeNameFilter" id="XRoadServiceAttributeNameFilterId">
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-xl-12">
                <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
            </div>
        </div>*@

        <div class="row align-items-center">
            <table id="XRoadServiceAttributeMappingsTableResponse" name="XRoadServiceAttributeMappingsTableResponse" class="table table-separate table-head-custom no-footer dtr-inline dt-responsive nowrap table-hover">
                <thead>
                    <tr>
                        <th></th>

                        <th>@L("Actions")</th>
                        <th>@L("SourceValue")</th>
                        <th>@L("DestinationValue")</th>
                        @*<th>@L("XRoadServiceAttributeName")</th>
                            <th>@L("ServiceAttributeType")</th>*@

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
