@using MFAE.Jobs.Authorization
@using MFAE.Jobs.Web.Areas.App.Models.GraduationRates
@using MFAE.Jobs.Web.Areas.App.Startup
@model GraduationRatesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.GraduationRates;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/GraduationRates/Index.js" asp-append-version="true"></script>
}

<abp-page-subheader title='@L("GraduationRates")' description='@L("GraduationRatesHeaderInfo")'>
    <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

    @if (IsGranted(AppPermissions.Pages_GraduationRates_Create))
    {
    <button id="CreateNewGraduationRateButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewGraduationRate")</button>
    }
</abp-page-subheader>

<div class="@(await GetContainerClass())">
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">

                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" id="GraduationRatesTableFilter" class="form-control reload-on-change form-control-solid" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                <button id="GetGraduationRatesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                <div class="col-md-12">

                </div>

                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="NameArFilterId">@L("NameAr")</label>
                        <input type="text" class="form-control reload-on-keyup form-control-solid" name="nameArFilter" id="NameArFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="NameEnFilterId">@L("NameEn")</label>
                        <input type="text" class="form-control reload-on-keyup form-control-solid" name="nameEnFilter" id="NameEnFilterId">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="my-3">
                        <label class="form-label" for="IsActiveFilterId">@L("IsActive")</label>
                        <select class="form-select form-control reload-on-change form-control-solid" name="IsActiveFilter" id="IsActiveFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 mt-5">
                    <button class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-xl-12">
                    <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                    <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                </div>
            </div>
            <div class="row align-items-center">
                <table id="GraduationRatesTable" class="display table table-striped table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>

                            <th>@L("Actions")</th>
                            <th>@L("NameAr")</th>
                            <th>@L("NameEn")</th>
                            <th>@L("IsActive")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>